@import '../../views/resources/css/variables.less';

.transaction-list-options-container {
  padding-left: 80%;
  &>.ivu-select {
    padding  : .1rem;
    width    : 20%;
    min-width: 2.4rem;
    max-width: 100%;
  }
}